<div class="page-header text-center">
    <h2>{{ voter }} <small>Bienvenid@!</small></h2>
</div>
{% if candidates|length > 0 %}
<div class="candidates-container category-container">
    <div class="category-title">
        <div class="page-header">
            <h2>Candidatos <small>seleccione uno</small></h2>
        </div>
    </div>
    <div class="owl-carousel owl-theme category-images owl-candidates">
        {% for candidate in candidates %}
        <div class="candidate item" target="candidate-student" target-id="{{ candidate.id }}">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="{% if candidate.picture %}{{ candidate.picture|imagine_filter('filter_211x285') }}{% else %}{{ 'no_foto.jpg'|imagine_filter('filter_211x285') }}{% endif %}" alt="candidate image" />
            <p class="lead text-success">{{ candidate.names|lower }}&nbsp;{{ candidate.lastname|lower }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% if personeros|length > 0 %}
<div class="personero-container category-container">
    <div class="category-title">
        <div class="page-header">
            <h2>Personeros <small>seleccione uno</small></h2>
        </div>
    </div>
    <div class="owl-carousel owl-theme category-images owl-candidates">
        {% for personero in personeros %}
        <div class="candidate item" target="personero-student" target-id="{{ personero.id }}">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="{% if personero.picture %}{{ personero.picture|imagine_filter('filter_211x285') }}{% else %}{{ 'no_foto.jpg'|imagine_filter('filter_211x285') }}{% endif %}" alt="candidate image" />
            <p class="lead text-success">{{ personero.names|lower }}&nbsp;{{ personero.lastname|lower }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="save-button-container text-center">
    <button id="send-vote" class="btn btn-success">Guardar</button>
    <input type="hidden" id="send-vote-url" value="{{ url('save-vote') }}" />
</div>
{% endif %}